
@font-face {
	font-family: opensans;
    src: url(../fonts/opensans/OpenSans-Regular.eot);
    src: url(../fonts/opensans/OpenSans-Regular.ttf);
    src: url(../fonts/opensans/OpenSans-Regular.woff);
}

.basefont {
	font-family: "opensans";
}