/*mainmenu*/

.mainmenu-wrap{
	background: $nav-bg;
	display: block;
	margin-bottom:$space-10;
	a{
		text-decoration: none;
		font-size:13px;
	}
	.homeredirect{
		padding: 0px $space-15;
	}
	.parent{
		vertical-align: middle;
		padding: 0px $space-15;
		background: url("../img/right-arrow.png")100% 50% no-repeat;
		a{
			color: $black;
		}
	}
	.active {
		background-color:$lgreen;
	}
	ul{
		vertical-align: middle;
		display: inline-block;
		li{
			float: left;
			padding:0px  $space-15;
			min-height: 56px;
			a{
				display: inline-block;
				padding:18px 0;
				text-decoration: none;
				color: $white;
				text-transform: uppercase;
			}
			&:first-child {
				padding-left:0;
				position: relative;
				z-index: 5;
				padding:0;
				+ li {
				margin-left:-$space-10;
			}
			a {
				padding-top:0;
				padding-bottom:0;
			}
			} 

		}
		.in-active{ 
			display: inline-block;
			padding: 18px 25px;
			text-decoration: none;
			color: #fff;
			background-color:$lgreen;
			height:56px;
			}
		.active-sub {
			a {
	    		border-bottom: 1px solid #fff;
	    		padding-bottom: 10px;
			}
		}
	}
	
	}
	.main-breadcrumb {
		margin-top: 90px;
	}
	
.mobile-service-wrap {
	padding-left:25px;  
	padding-right:25px;
	.panel-group {
		.panel-title {
		margin-bottom:0;
			a {
			color:#fff;
			background:url(../img/bg/mob-tab-bg-active.png) top center no-repeat;
			padding: 21px 0;
			display:block;
			text-align:center;
			}
			a.collapsed {
				background:url(../img/bg/mob-tab-b.png) top center no-repeat;
			}
		}
		.panel-body {
			background:url(../img/bg/tab-active-body-bg.png) top center repeat-y;
			padding:15px;
			color:#fff;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.main-right-col,  .common-content img.img-left{float:none;}
	.inline-custom {
		margin:6px 0 6px 0;
	}
	.header-modal-wrap { 
		.modal-wrap  {
			input[type="text"] {
				margin-bottom: $space-15;
			}
		}
	}
	.modal-txt {
		margin-bottom: $space-10;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.main-right-col{float:right;}
	.main-left-col{float:left;}
	.modal-txt {
		margin-bottom: $space-10;
	}
	.content {
		margin-top:98px;
	}
	
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.main-right-col{float:right;}
	.main-left-col{float:left;}
	.content {
		margin-top:156px; 
	}
}

@media (min-width: $screen-lg-min) {
	.main-right-col{float:right;}
	.main-left-col{float:left;}
	.content {
		margin-top:155px;
	}
}