<figure class="logo-holder col-sm-4 col-xs-12">
						  <img src="img/logo.png" alt="UAQ LOGO">
						</figure>
						<nav class="navbar col-sm-8 col-xs-12">
							<ul class="nolist pull-right cf navbarItems">
							<li class="navItem">
								
										<div class="servicescatalogue hidden-md hidden-sm hidden-xs"><img src="img/services.png" alt="" /> SERVICES CATALOGUE</div>
							</li>
			

								<li class="navItem weather">
									<a href="#">
										<span class="degree">30<sup>o</sup>C</span>
										<span class="type hidden-xs">Sunny</span>
									</a>
								</li>
								<li class="navItem weatherImg hidden-sm hidden-xs">
									<a href="#">
										<figure>
											<img src="img/sunny.png" alt="Weather Image">
										</figure>
									</a>
								</li>
								<li class="navItem login">
									<a href="#">
										<figure>
											<img src="img/lock.png" alt="Login image">
										</figure>
										<span class="login">LOGIN</span>
									</a>
								</li>
								<li class="navItem lang">
									<a href="#">
										EN
									</a>
								</li>
								<li class="navItem search hidden-xs">
									<a href="#">
										<figure>
											<img src="img/search.png" alt="seach">
										</figure>
									</a>
								</li>
								<li class="navItem menu">
									<a href="#">
										<figure class="searchDesktop">
											<img src="img/searchmenu.png" alt="menu">
										</figure>
										<span class="searchMob">
											
										</span>
									</a>
								</li>
							</ul>
							<div class="mob-search visible-xs">
									<div class="form-group cf">
										<input type="text" name="keysearch" placeholder="Keyword Search" class="search">
										<input type="button" class="searchIcon">
									</div>
							</div>							
						</nav>
						
						
					<div class="mainMenu hidden-xs">
						
						<div class="table">
							<div class="tr">
								<div class="td th business">Business</div>
								<div class="td th business">Business</div>
								<div class="td th business">Business</div>
								<div class="td th business">Business</div>
								<div class="td th business">Business</div>		
								<div class="td th business">Business</div>
								<div class="td th menuLast">
									
									<img src="img/activemenu.png" alt="Menu">

								</div>													
							</div>
							<div class="tr">
								<div class="td">
										<ul class="no-list">
											<li><a href="#">Work with Government</a></li>
											<li><a href="#">Invest In UAQ</a></li>
											<li><a href="#">Close a Business</a></li>
											<li><a href="#">Start a Business</a></li>
											<li><a href="#">Licenses & Permits</a></li>
											<li><a href="#">Labour law</a></li>
										</ul>
									<div class="footerColor green"></div>
								</div>
								<div class="td">
										<ul class="no-list">
											<li><a href="#">Work with Government</a></li>
											<li><a href="#">Invest In UAQ</a></li>
											<li><a href="#">Close a Business</a></li>
											<li><a href="#">Start a Business</a></li>
											<li><a href="#">Licenses & Permits</a></li>
											<li><a href="#">Labour law</a></li>
										</ul>
								<div class="footerColor red"></div>
								</div>

								<div class="td">
										<ul class="no-list">
											<li><a href="#">Work with Government</a></li>
											<li><a href="#">Invest In UAQ</a></li>
											<li><a href="#">Close a Business</a></li>
											<li><a href="#">Start a Business</a></li>
											<li><a href="#">Licenses & Permits</a></li>
											<li><a href="#">Labour law</a></li>
										</ul>
										<div class="footerColor grey"></div>
								</div>
								<div class="td">
										<ul class="no-list">
											<li><a href="#">Work with Government</a></li>
											<li><a href="#">Invest In UAQ</a></li>
											<li><a href="#">Close a Business</a></li>
											<li><a href="#">Start a Business</a></li>
											<li><a href="#">Licenses & Permits</a></li>
											<li><a href="#">Labour law</a></li>
										</ul>

										<div class="footerColor black"></div>

								</div>
								<div class="td">
										<ul class="no-list">
											<li><a href="#">Work with Government</a></li>
											<li><a href="#">Invest In UAQ</a></li>
											<li><a href="#">Close a Business</a></li>
											<li><a href="#">Start a Business</a></li>
											<li><a href="#">Licenses & Permits</a></li>
											<li><a href="#">Labour law</a></li>
										</ul>
									<div class="footerColor green"></div>

								</div>
								<div class="td">
										<ul class="no-list">
											<li><a href="#">Work with Government</a></li>
											<li><a href="#">Invest In UAQ</a></li>
											<li><a href="#">Close a Business</a></li>
											<li><a href="#">Start a Business</a></li>
											<li><a href="#">Licenses & Permits</a></li>
											<li><a href="#">Labour law</a></li>
										</ul>
										<div class="footerColor red"></div>


								</div>

								<div class="td">
									<div class="footerColor grey"></div>
								</div>
							</div>
						</div>
					</div>
					
					