<header class="cf">
	<div class="headerLeft fl">
		<img src="img/logo.png" alt="ETEA Logo">
	</div>
	<div class="headerRight fr">
		<div class="profileLoginHolder cf">
			<div class="currentProfile fl">
				<span class="profilePic">
					<img src="img/userPic.jpg" alt="profile pic">								
				</span>
				<span class="nameHolder">
					نه. أثره، غي <br>
					<label>مّل هو انه. أثره، غينيا فاتّبع ذلك مع, وقدّم.</label>
				</span>
			</div>
			<div class="logoutandedit fl">
				<span class="edit">
					<img src="img/edit.png" alt="edit img">
				</span>
				<span class="log-out">
					<img src="img/logout.png" alt="logout img">
				</span>
			</div>
		</div>
	</div>
</header>