//
// Variables
// ---------------------------


// Colors
// ---------------------------
	$grayC:				#ccc;
	$black: 			#000;
	$white: 			#fff;
	$brown: 			#8e734a;
	$grayb:				#bdbdbd;
	$gray3:				#333333;
	$gray4:				#444444;
	$skyblue:			#00aeef;
	$lred:				#d2232a;
	$lgreen:			#41ad49;
	$pink:				#ec008c;
	$dblue:				#25408f;
	$grayE:				#ced2d3;
	$gray4:				#444444;
	$grayc3:			#c3c3c3;
	$grayLight:			#999;
	$breadred:			#b3161b;
	$grayca:			#4a4a4a;
	
	
//Font Family Declaration
//----------------------------

	//$baseFont : Roboto; 
