					
					

					<div class="submenuItemsHolder cf">
						<div class="submenuItem footer-item-1 footer-item-business" data-footer-image="">
						
						
					<div class="hovercontainer">
						<h2>Business</h2>
						<div class="col-sm-6 col-xs-12">
							<div class="textbox">
								<ul>
								<li><a href="#">Start a Business</a></li>
								</ul>
								<p><img src="img/business-img.jpg" alt="" class="img" />Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib.<br />
								<a href="#">Read more</a>
								</p>
							</div>
						</div>
						
						<div class="col-sm-6 col-xs-12">
							<ul>
								<li><a href="#">Close a Business</a></li>
								<li><a href="#">Working with UAQ</a></li>
								<li><a href="#">Invest in UAQ</a></li>
								<li><a href="#">License and Permits</a></li>
							</ul>
						</div>
					</div>
							<a href="#">
								<h3 class="submenuTitle">Business</h3>
								Find out about doing Business ere 
							</a>
						</div>
						<div class="submenuItem footer-item-2 " data-footer-image="">

						<div class="hovercontainer">
							<h2>Citizens1</h2>
							<div class="col-sm-6 col-xs-12">
								<div class="textbox">
									<ul>
									<li><a href="#">Start a Business</a></li>
									</ul>
									<p><img src="img/business-img.jpg" alt="" class="img" /><div class="footerHovercontant" style="height:100px; overflow:hidden; color:#666;"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib.</div><br />
									<a href="#" class="hoverMore">Read more</a>
									</p>
								</div>
							</div>
							
							<div class="col-sm-6 col-xs-12">
								<ul>
									<li><a href="#">Close a Business</a></li>
									<li><a href="#">Working with UAQ</a></li>
									<li><a href="#">Invest in UAQ</a></li>
									<li><a href="#">License and Permits</a></li>
								</ul>
							</div>
						</div>

							<a href="#">
								<h3 class="submenuTitle">Citizens1</h3>
								Find out more 
							</a>
						</div>
						<div class="submenuItem footer-item-3 " data-footer-image="">
							<div class="hovercontainer">
								<h2>Citizens</h2>
								<div class="col-sm-6 col-xs-12">
									<div class="textbox">
										<ul>
										<li><a href="#">Start a Business</a></li>
										</ul>
										<p><img src="img/business-img.jpg" alt="" class="img" />Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib.<br />
										<a href="#">Read more</a>
										</p>
									</div>
								</div>
								
								<div class="col-sm-6 col-xs-12">
									<ul>
										<li><a href="#">Close a Business</a></li>
										<li><a href="#">Working with UAQ</a></li>
										<li><a href="#">Invest in UAQ</a></li>
										<li><a href="#">License and Permits</a></li>
									</ul>
								</div>
							</div>
							<a href="#">
								<h3 class="submenuTitle">Citizens</h3>
								Find out more 
							</a>
						</div>
						<div class="submenuItem footer-item-4 " data-footer-image="">
							<div class="hovercontainer">
								<h2>Residents</h2>
								<div class="col-sm-6 col-xs-12">
									<div class="textbox">
										<ul>
										<li><a href="#">Start a Business</a></li>
										</ul>
										<p><img src="img/business-img.jpg" alt="" class="img" />Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib.<br />
										<a href="#">Read more</a>
										</p>
									</div>
								</div>
								
								<div class="col-sm-6 col-xs-12">
									<ul>
										<li><a href="#">Close a Business</a></li>
										<li><a href="#">Working with UAQ</a></li>
										<li><a href="#">Invest in UAQ</a></li>
										<li><a href="#">License and Permits</a></li>
									</ul>
								</div>
							</div>
							<a href="#">
								<h3 class="submenuTitle">Residents</h3>
								Find out more 
							</a>
						</div>
					</div>

					<div class="copyrightHolder cf">
						<div class="leftHolder hidden-sm col-md-3  hidden-xs">
							<p> Copyright &#169; 2015 Umm Al Quwain - Governement, All Rights Reserved. </p>
						</div>
						<div class="leftHolder col-md-9 col-sm-12 col-xs-12  pr0">
							<ul class="no-list socilaIcons clapsiconlist cf">
						
								<li><a href="#collapseApp" data-toggle="collapse" aria-expanded="true" aria-controls="collapseApp"  data-parent="#monogram-acc" onClick='return false;' class="link_collapseApp">
									<img src="img/icons/icon-phone-app.png" alt="Smart phone apps">
								<span class="footericons">SMART PHONE APP</span></a></li>
								<li><a href="#">
									<img src="img/icons/icon-faq.png" alt="Social image">
								<span class="footericons">FAQ</span></a></li>
								<li class="showmob"><a data-toggle="collapse" href="#collapseSocial" aria-expanded="true" aria-controls="collapseSocial"  data-parent="#monogram-acc" onClick='return false;'>
									<img src="img/facebook.png" alt="Social image">
								<span class="footericons">SOCIAL</span></a></li>
								<li class="showmob"><a href="#">
									<img src="img/news.png" alt="Social image">
								<span class="footericons">NEWS</span></a></li>
								<li class="showmob"><a href="#">
									<img src="img/events.png" alt="Social image">
								<span class="footericons">EVENTS</span></a></li>
								<li><a href="#">
									<img src="img/careers.png" alt="Social image">
								<span class="footericons">CAREERS</span></a></li>
								<li class="showmob"><a href="#">
									<img src="img/feedback.png" alt="Social image">
								<span class="footericons">FEEDBACK</span></a></li>
							</ul>

						</div>
					</div>
					<div class="collapse" id="collapseSocial" data-parent="#accordion2">
					  	<div class="well ">
							<div class="socialIcons " >	
								<div class="facebook" >
									<a href="#"><img src="img/fb.png" class="socialimg" alt=""></a>
									<div class="follow"><a href="#">Follow us on Facebook <br /> /efmdvfddfd</a>
										<span class="collapse collapseFeed" id="collapsefb" data-parent="#accordion3"><div id="fb-news"></div></span>
									</div>
								</div>
								<div class="twitter ">
									<a href="#"><img src="img/twitter.png" class="socialimg" alt=""></a>
									<div class="follow twitter-follow">
										<a  href="https://twitter.com/UAQ_eGOV" target="_blank">Follow us on Twitter <br /> https://twitter.com/UAQ_eGOV</a>
										<span class="collapse collapseFeed" id="collapseTwitter" data-parent="#accordion3"><div id="twitter-news"></div></span>
									
									</div>
								</div>
								<div class="google " >
									<a href="#"><img src="img/googleicon.png" class="socialimg" alt=""></a>
									<div class="follow"><a href="#">Follow us on Google <br /> /efmdvfddfd</a></div>
									
								</div>
								<div class="rssfeed"  >
									<a href="#"><img src="img/rssicon.png" class="socialimg" alt=""></a>
									<div class="follow"><a href="#">Follow us on Twitter <br /> /efmdvfddfd</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="collapse" id="collapseApp" data-parent="#accordion2">
					  	<div class="well ">
							<div class="appIcons" >	
								<div class="apple" >
									<a href="#"><img src="img/aple.png" class="socialimg" alt=""></a>
								</div>
								<div class="googleplay ">
									<a href="#"><img src="img/googlePlay.png" class="socialimg" alt=""></a>
								</div>
								<div class="windows " >
									<a href="#"><img src="img/windows.png" class="socialimg" alt=""></a>
								</div>
								<div class="backberry"  >
									<a href="#"><img src="img/backberry.png" class="socialimg" alt=""></a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="policyHolder  hidden-xs cf">
							
							<div class="col-md-7 hidden-sm hidden-md">
								<p>Last update on April 1, 2015| Site is best viewed in a 1024 x 768 screen resolution<br />
								Supports IE 9, Firefox 18, Safari 6.0 and Chrome 26.0.1410</p>
							</div>
							<div class="col-md-12 col col-sm-12 col-lg-5 pr0">
								<ul class="no-list redirectLinks">
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Terms &#38; Conditions</a></li>
									<li><a href="#">Disclaimer</a></li>
									<li><a href="#">Site Map</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
					</div>
					<script>  
					var $page_id = '292347434296161';
					var $access_token = '172940563043119|xELhloCXJTGOsKmgNGBqmsRhFJA';
					var data="";
					//Get the JSON
					var $json_object ='https://graph.facebook.com/'+ $page_id +'/posts?access_token='+$access_token;
					console.log("test data" + $json_object);
					$.ajax({
						type: "GET",
						url: $json_object,
						success: function(response)
						{
							$fbdata =  JSON.parse(response);
							console.log("response"+ response);
						}
					});	
					 $.get($json_object, function(data, status){
						//console.log("test data1" + data.data[0].message);
						//$("#fb-news").html(data.data[0].message);
						 //$fbdata =  JSON.parse(data);
					 });
					// console.log("test data1" + data);
					//Interpret data
					//$fbdata = JSON.parse($json_object);
					//alert("dsdfsf");</script>

					<script type='text/javascript' src='js/twitterfetch.js'></script> 
					<script> jQuery(document).ready(function() {twitterFetcher.fetch( '648890794552639488', 'twitter-news', 1, true);});</script>
					
					<script> $(".follow-twitter").mouseover(function(){
						//$("#collapseTwitter").show();
						
					}).mouseout(function() {
						//$("#collapseTwitter").hide();

					});
					
					
					</script>