//
// Variables
// ---------------------------


// Colors
// ---------------------------
	$grayC:				#ccc;
	$black: 			#000;
	$white: 			#fff;
	$brown: 			#8e734a;
	$grayb:				#bdbdbd;
	$gray3:				#f1f1f1;
	$gray4:				#444444;
	$skyblue:			#00aeef;
	$lred:				#b3161b;
	$lgreen:			#41ad49;
	$pink:				#ec008c;
	$dblue:				#25408f;
	$grayE:				#ced2d3;
	$grayc3:			#c3c3c3;
	$gray6:				#666666;
	$gray9:				#999999;
	$gray10:				#333333;
	$box-gray: #dedede;
	$textcolor:			#606060;
	$activeNavBg:	#f9f9f9;
	$selectarrcolor: #c7c7c7;
	$darkgray:	#a4a4a4;
	$nav-bg : #4a4a4a;
	$graypagination: #f1f1f1;

	
	
//Font Family Declaration
//----------------------------

	//$baseFont : Roboto; 
	/*-- width --*/
$fluid_width:100%;
/* mandratory * size */
$mandratory-font-size: 12px;

/*-- padding- margin --*/
$space-5:5px;
$space-10:10px;
$space-15:15px;
$space-20:20px;
$space-25:25px;
$space-30:30px;
$space-40:40px;
$space-60:60px;

/*-- font size --*/
$font-size-title:22px;
$font-size-title-sub:15px;
$font-size-profile:16px;
$font-14: 14px;

/*--- font family ---*/
$icons-font:'Glyphicons Halflings';