					<div class="mobileMenu visible-xs">
						<div class="mobileNav">
							<ul class="no-list menuItems">

								<li>
									<p><a href="#">Home</a></p>
								</li>
								<li class="navItem">
									<p><a href="#">About UAQ</a></p>
									<ul class="no-list sub-menu">
											<li><a href="test.html">Statement by the Chairman</a></li>
											<li><a href="#">Statement by Chairman Board of Trustees</a></li>
											<li><a href="#"> Board of Trustees</a></li>
											<li><a href="#">Vision, Mission and Objectives</a></li>
										</ul>
								</li>
								<li class="navItem">
									<p><a href="#">About UAQ</a></p>
									<ul class="no-list sub-menu">
											<li><a href="test.html">Statement by the Chairman</a></li>
											<li><a href="#">Statement by Chairman Board of Trustees</a></li>
											<li><a href="#"> Board of Trustees</a></li>
											<li><a href="#">Vision, Mission and Objectives</a></li>
										</ul>
								</li>
								<li class="navItem">
									<p><a href="#">About UAQ</a></p>
									<ul class="no-list sub-menu">
											<li><a href="test.html">Statement by the Chairman</a></li>
											<li><a href="#">Statement by Chairman Board of Trustees</a></li>
											<li><a href="#"> Board of Trustees</a></li>
											<li><a href="#">Vision, Mission and Objectives</a></li>
										</ul>
								</li>
								<li class="navItem">
									<p><a href="#">About UAQ</a></p>
									<ul class="no-list sub-menu">
											<li><a href="test.html">Statement by the Chairman</a></li>
											<li><a href="#">Statement by Chairman Board of Trustees</a></li>
											<li><a href="#"> Board of Trustees</a></li>
											<li><a href="#">Vision, Mission and Objectives</a></li>
										</ul>
								</li>
								<li class="navItem">
									<p><a href="#">About UAQ</a></p>
									<ul class="no-list sub-menu">
											<li><a href="test.html">Statement by the Chairman</a></li>
											<li><a href="#">Statement by Chairman Board of Trustees</a></li>
											<li><a href="#"> Board of Trustees</a></li>
											<li><a href="#">Vision, Mission and Objectives</a></li>
										</ul>
								</li>
							</ul>
						</div>
					</div>