<div class="col-md-12">
	<figure class="logo-holder col-sm-4 col-xs-12">
		<a href="index.html"><img src="img/logo.png" alt="UAQ"></a>
	</figure>
	<nav class="navbar col-sm-8 col-xs-12">
		<ul class="nolist pull-right cf navbarItems">
			<li class="navItem service-catalogue ">
				<a href="#" class="servicescatalogue"><img src="img/icons/icon-services.png" alt=""> <span class="hidden-xs hidden-sm catalogue">SERVICES CATALOGUE</span></a>
			</li>
			<li class="navItem rate">
				<a href="#"  data-toggle="modal"  data-toggle="modal" data-target="#rate_modal" data-whatever="@getbootstrap">
					<figure>
						<img src="img/icons/icon-rate.png" class="img-resposnsive" alt="rate">
					</figure>
				</a>
			</li>
			<li class="navItem weatherImg">
				<a href="#">
					<span class="type pull-right">
						<figure>
							<img src="img/ajax-loader.gif" id="weatherimage" alt="Weather Image">
						</figure>
					</span>
					<span class="degree">30<sup>o</sup>C
						<span>Sunny </span>
					</span>
				</a>
			</li>
			<li class="navItem login">
				<a href="#"  data-toggle="modal" data-target="#login_modal" data-whatever="@getbootstrap">
					<figure>
						<img src="img/icons/icon-lock.png" alt="Login image">
					</figure>
					<span class="login hidden-xs hidden-sm hidden-md ">LOGIN</span>
				</a>
			</li>
			<li class="navItem login">
				<a href="#"   data-toggle="modal"  data-target="#profileModal" data-whatever="@getbootstrap">
					<figure>
						<img src="img/icons/myprofile.png" alt="Login image">
					</figure>
					<span class="login hidden-xs hidden-sm hidden-md ">PROFILE</span>
				</a>
			</li><!-- -->
			<li class="navItem lang">
				<a href="#">
					EN
				</a>
			</li>
			<li class="navItem search hidden-xs">
				<a href="#"  data-toggle="modal"  data-toggle="modal" data-target="#search_modal" data-whatever="@getbootstrap">
					<figure>
						<img src="img/icons/icon-search.png" alt="seach">
					</figure>
				</a>
			</li>
			<li class="navItem menu">
				<a href="#">
					<figure class="searchDesktop">
						<img src="img/icons/icon-search-menu.png" alt="menu">
					</figure>
					<span class="searchMob">
						
					</span>
				</a>
			</li>
					
			
		</ul>
		<!-- <div class="col-md-12 col-sm-12 hidden-xs hidden-xs hidden-sm text-right ">
			<a href="#" class="servicescatalogue pull-right"><img src="img/icons/icon-services.png" alt="" /> <span class="hidden-xs hidden-sm catalogue">SERVICES CATALOGUE</span></a> 
		</div> -->
		<!-- <div class="mob-search visible-xs">
			<div class="form-group cf">
				<input type="text" name="keysearch" placeholder="Keyword Search" class="search">
				<input type="button" class="searchIcon">
			</div> -->
		</div>
	</nav>
	
	
	<div class="mainMenu hidden-xs">
		
		<div class="table">
			<div class="tr">
				<div class="td th"><a href="#"><img src="../img/business.png" alt="" class="hidden-sm" /><span class="top-slide-nav-title">Business1</span></a></div>
				<div class="td th"><a href="#"><img src="../img/business.png" alt="" class="hidden-sm" /><span class="top-slide-nav-title">Business1</span></a></div>
				<div class="td th"><a href="#"><img src="../img/business.png" alt="" class="hidden-sm" /><span class="top-slide-nav-title">Business1</span></a></div>
				<div class="td th"><a href="#"><img src="../img/business.png" alt="" class="hidden-sm" /><span class="top-slide-nav-title">Business1</span></a></div>
				<div class="td th"><a href="#"><img src="../img/business.png" alt="" class="hidden-sm" /><span class="top-slide-nav-title">Business1</span></a></div>
				<div class="td th"><a href="#"><img src="../img/business.png" alt="" class="hidden-sm" /><span class="top-slide-nav-title">Business1</span></a></div>
				<div class="td th menuLast">
					
					<img src="img/icons/icon-active-menu.png" alt="Menu">
				</div>
			</div>
			<div class="tr">
				<div class="td">
					<ul class="no-list">
						<li><a href="#">Work with Government</a></li>
						<li><a href="#">Invest In UAQ</a></li>
						<li><a href="#">Close a Business</a></li>
						<li><a href="#">Start a Business</a></li>
						<li><a href="#">Licenses & Permits</a></li>
						<li><a href="#">Labour law</a></li>
					</ul>
					<div class="footerColor green"></div>
				</div>
				<div class="td">
					<ul class="no-list">
						<li><a href="#">Work with Government</a></li>
						<li><a href="#">Invest In UAQ</a></li>
						<li><a href="#">Close a Business</a></li>
						<li><a href="#">Start a Business</a></li>
						<li><a href="#">Licenses & Permits</a></li>
						<li><a href="#">Labour law</a></li>
					</ul>
					<div class="footerColor red"></div>
				</div>
				<div class="td">
					<ul class="no-list">
						<li><a href="#">Work with Government</a></li>
						<li><a href="#">Invest In UAQ</a></li>
						<li><a href="#">Close a Business</a></li>
						<li><a href="#">Start a Business</a></li>
						<li><a href="#">Licenses & Permits</a></li>
						<li><a href="#">Labour law</a></li>
					</ul>
					<div class="footerColor grey"></div>
				</div>
				<div class="td">
					<ul class="no-list">
						<li><a href="#">Work with Government</a></li>
						<li><a href="#">Invest In UAQ</a></li>
						<li><a href="#">Close a Business</a></li>
						<li><a href="#">Start a Business</a></li>
						<li><a href="#">Licenses & Permits</a></li>
						<li><a href="#">Labour law</a></li>
					</ul>
					<div class="footerColor black"></div>
				</div>
				<div class="td">
					<ul class="no-list">
						<li><a href="#">Work with Government</a></li>
						<li><a href="#">Invest In UAQ</a></li>
						<li><a href="#">Close a Business</a></li>
						<li><a href="#">Start a Business</a></li>
						<li><a href="#">Licenses & Permits</a></li>
						<li><a href="#">Labour law</a></li>
					</ul>
					<div class="footerColor green"></div>
				</div>
				<div class="td">
					<ul class="no-list">
						<li><a href="#">Work with Government</a></li>
						<li><a href="#">Invest In UAQ</a></li>
						<li><a href="#">Close a Business</a></li>
						<li><a href="#">Start a Business</a></li>
						<li><a href="#">Licenses & Permits</a></li>
						<li><a href="#">Labour law</a></li>
					</ul>
					<div class="footerColor red"></div>
				</div>
				<div class="td">
					<div class="footerColor grey"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- popup header login -->
<div class="modal fade header-modal" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="header-modal-wrap">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form name="login-form" id="login-form" action="#" method="post" onsubmit="validateLogin();" > 
						<div class="row">
							<div class="col1-md-8 col-md-offset-4 " >
								<h4 class="modal-title col-md-offset-4" id="modal-lbl-head">Login</h4>
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-5">
										<div class="form-group">
											<input type="text" class="modal-txt required" id="username" name="username" placeholder="Username">
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-5">
										<div class="form-group">
											<input type="password" class="modal-txt required" id="password" name="password" placeholder="Password">
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-2">
										<input type="submit" class="popup-btn " id="user_login" value="Login" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group pull-left">
											<a href="#" class="modal-head-link">Forgot User Name</a>
										</div>
										<div class="form-group pull-left">
											<a href="#" class="modal-head-link">Forgot Password</a>
										</div>
										<div class="form-group pull-left">
											<a href="#" class="modal-head-link">Register</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /popup header login  -->

<!-- popup header search -->
<div class="modal fade header-modal" id="search_modal" tabindex="-1" role="dialog" aria-labelledby="search_modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="header-modal-wrap">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form name="searchCommand" id="searchcommand" action="/${param.languageCode}/search.html" metho="post">
						<div class="row">
							<div class="col-md-6 col-md-offset-6">
								<h4 class="modal-title col-md-offset-6" id="modal-lbl-head">What are you looking for </h4>
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<div class="form-group">
											<input type="text" class="topsearch" id="search2" name="search" placeholder="search"> 
											<span id="headerSearch" class="glyphicon2 glyphicon-search"></span>
											
										</div>
									</div>
									 <!-- <div class="col-xs-12 col-sm-6 col-md-4">
										<
										<input type="submit" class="popup-btn " id="user_login" value="Search" />
									</div> -->
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /popup header search  -->

<!-- popup header rating -->
<div class="modal fade header-modal" id="rate_modal" tabindex="-1" role="dialog" aria-labelledby="rate_modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="header-modal-wrap">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-8 col-xs-12 col-lg-6 col-lg-offset-6 col-md-offset-4 ">
							<div class="row">
								<div class="col-xs-12">
									<div class="happinessIndicator">
										<h4 class="modal-title col-md-offset-6" id="modal-lbl-head">How would you rate our service? </h4>
										<a href="#" class="smile" data-smile-val="1" data-smile="/${param.languageCode}/smiley.html"><img src='img/icons/01.png' class="img-responsive img1" alt="" title="" /> <img src='img/icons/01a.png' class="img-responsive img2" alt="" title="" /></a>
										<a href="#" class="smile" data-smile-val="2" data-smile="/${param.languageCode}/smiley.html"><img src='img/icons/02.png' class="img-responsive img1" alt="" title="" /> <img src='img/icons/02a.png' class="img-responsive img2" alt="" title="" /></a>
										<a href="#" class="smile" data-smile-val="3" data-smile="/${param.languageCode}/smiley.html"><img src='img/icons/03.png' class="img-responsive img1" alt="" title="" /> <img src='img/icons/03a.png' class="img-responsive img2" alt="" title="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /popup header rating  -->
<!-- popup header rating sucess -->
<div class="modal fade header-modal" id="rate_modal_success" tabindex="-1" role="dialog" aria-labelledby="rate_modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="header-modal-wrap">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-8 col-xs-12 col-lg-6 col-lg-offset-6 col-md-offset-4 ">
							<div class="row">
								<div class="col-xs-12">
									<div class="happinessIndicator">
										<h4 class="modal-title col-md-offset-6" id="modal-lbl-head">How would you rate our service? </h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /popup header rating  -->
		<!-- popup header Profile -->
		<div class="modal fade header-modal" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profile_modalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="header-modal-wrap">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12"  >
									
									<div class="profile-settings">
										<h4 class="modal-title col-md-offset-6" >Welcome !</h4>
										<h2 class="modal-title col-md-offset-6" >Mohammed Khalid</h2>
										<div class="profile-group ">
											<a href="#" class="modal-head-link ">
												<span class="welcom-icons"><img src="img/profile.png" alt="My Profile"/></span><label class="hidden-xs">My Profile</label> 
											</a>
										</div>
										<div class="profile-group ">
											<a href="#" class="modal-head-link ">
												<span class="welcom-icons"> <img src="img/myrequest.png" alt="My Request"/></span><label class="hidden-xs">My Request</label> 
											</a>
										</div>
										<div class="profile-group">
											<a href="#" class="modal-head-link">
												<span class="welcom-icons"> <img src="img/logout.png" alt="Logout" /></span><label class="hidden-xs">Logout</label> 
											</a>
										</div>
									</div>
								</div>
							</div>
								
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- /popup header Profile  -->