.headerPart{
	position : fixed;
	top : 0px;
	left :0px;
	z-index : 99;
	background-color: rgba(235,235,235,0.77);
}



header{
	padding: 0px;
	img{
		max-width: 100%;
		height: auto;
	}
	.logo-holder{
		padding: 10px;
		img{
			max-height: 70px;
		}
	}
	
	.servicescatalogue {
		float: right;
		font-size: 18px;
	}
	
}

nav{
	padding: 15px;
	margin-bottom: 0 !important;
	
	.navItem{
		border-left: 1px solid #b3b3b3;
		padding: 0px 16px;
		float: left;
		display: inline-block;

		height: 45px;
		line-height: 45px;
		&:first-child{
			border-left : 0px;
		}
		a{
			text-decoration: none;
			color: $black;
		}
		span.degree{
			display: inline-block;
			font-size: 30px;
			padding: 0px;
			margin: 0;
			vertical-align: middle;
			margin-top: -10px;
		}
		.type{
			text-align: right;
			padding: 0px;
			margin: 0;
			vertical-align: middle;
			margin-top: -10px;
			line-height: 7px;
		}
	}
		.weather{
			span{
				display:block;
			}
		}
		.login{
			figure{
				display: inline-block;
				padding: 0px;
				margin: 0px;
				margin-right: 10px;
			}
			vertical-align: middle;
		}

	
}

.mainMenu{
    -webkit-transform-origin: center center; /* Chrome, Safari, Opera */
    position: absolute;
	top: -400px;
    -webkit-transition: all 0.2s;
    left: 0px;
    background: #232222;
    color: $white;
    .menuLast{
		width: 100px;
    }
    .tr{
    	text-align: center;
    }
    .th{

    	border-bottom: 1px solid #6e6e6e;
    	background-color: #333333;
    	padding: 15px !important;
    	font-size: 18px;
    	font-weight: normal;
    }
    .td{
    	text-align: center;
    	border-right: 1px solid #6e6e6e;
    	padding: 0px;
    	position: relative;
    	&:last-child{
    		.footerColor{
    			position: absolute;
    			bottom: 0px;
    			width: 100%;
    		}
    	}
    	ul{
			padding-bottom: 10px;

    		li{
    			  padding: 5px 0px;
    			a{
    				text-decoration: none;
    				color: $white;
    			}
    		}
    	}
    }
    .business{
    	background:#333333 url("../img/business.png") 25px 50% no-repeat;
    }
    .menuLast{

    	background:#333333 url("../img/activemenu.png") 50% 50% no-repeat;
    }
}

.footerColor{
	height: 10px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.green{
	background	: #00a651;
}

.red{
	background: #da4348;
}
.grey{
background: #c1c1c1;	
}

.black{
	background: $black;
}

.scale{
	 height: 400px;
	 background: red;
	 -webkit-transition: all 0.5s;
}

.searchMob{
	position: absolute;
	z-index : -999;
	display: none;
}

.mobileMenu{
  position: absolute;
  width: 260px;
  height: 100%;
  background: #d9dadb;
  top: 0;
  right: -260px;
	.menuItems{
		>li{
		border-top : 1px solid #b2b2b2;
		color: $white;
		background: #575757 url("../img/arrowup.png") no-repeat 95% 15px;
		p{
			cursor: pointer;
		}
			a{
				padding: 10px;
				text-decoration: none;
				display: inline-block;
				color: $white;
				}
			.sub-menu{
				display: none;
				li{
					background: #a1a1a1;
					border-bottom: 1px solid #b2b2b2;
					a {
						color: $black;
						font-size:13px;
						
						&:hover {
							color: $lred;
						}
						
						.active {
							color: $lred;
						}
					}
				}
			}
		}

		.open{
		background: #575757 url("../img/arrowdown.png") no-repeat 95% 15px;

		}
	}

}









@media all and (max-width: 767px){
	.container-fluid{
		padding: 0px;
		margin : 0px;
	}
	header{
		padding: 0px;
		background: #ebebeb;
	}
	.navbar{
			display: inline-block;
			text-align: center;
			background: #dedede;
		ul{
			float: none !important;
			margin:auto;
			padding: 10px 5px;
		}
	}

	nav .navItem span.degree{
		font-size: 18px;
		  margin-top: 0px;

	}
	nav .navItem .type{
		  margin-top: -12px;
	}
	nav .navItem{
		padding: 0px;
		height: 35px;
		line-height: 35px;
		position: relative;
	}
	nav .weather, .login{
		width: 30%;
		img{
			margin-top: -5px;
		}
	}
	nav .lang, .menu{
		width: 20%;
	}
	nav .login figure{
		margin-right: 5px;
	}
	nav .navItem .type{
		text-align: center;
	}


	.logo-holder{
		text-align: center;
		margin-bottom: 10px;
		padding: 0px;
		img{
			margin: auto;
			  max-width: 90%;
		}
	}


.searchMob{
	display: inline-block;
	width: 50%;
	height: 33px;
	top : 0px;
	left: 25%;
	position: absolute;
	z-index : 999;
}

.mob-search {
	text-align:left;
	margin-top: 2px;
	.form-group{
		margin-bottom: 0px;
	}
	.search{
		height: 30px;
		width: 90%;
		padding-left: 10px;
		float: left;
	}

.searchIcon{
	width: 10%;
	display:inline-block;
	float:right;
	height: 30px;
	outline: none;
	border: 0px;
	background: #e01d25 url("../img/searchmob.png") 50% 50% no-repeat;

}
}
.navbar{
	margin-bottom: 0px;
	padding: 0px;
	}

.headerPart{
	position: relative;
}

.mainContent  {
	margin-top: 0;
}

}

@media all and (min-width : 768px) and (max-width:1400px){
	.mainMenu .business{
		background-image : none;
	}

.mainMenu .td ul li a{

	font-size: 12px;
}

.mainMenu .business{

	font-size: 14px;

}

}



